DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_ENVIRONMENT=development
DJANGO_SECRET_KEY=change-me-in-development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_LOG_LEVEL=INFO
DJANGO_SECURITY_LOG_LEVEL=INFO
DJANGO_ENABLE_FILE_LOGGING=False
DJANGO_LOG_FILE_PATH=logs/blogify.log

POSTGRES_DB=blogify
POSTGRES_USER=blogify
POSTGRES_PASSWORD=blogify
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
